@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Playfair+Display:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Colors */
:root {
    --primary-color: #7e3dc9;
    --accent-color-1: #FFD700;
    --accent-color-2: #E6E6FA;
    --complementary-color: #008080;
}

.logo,
.explore-items,
.handles {
    margin: 12px;
    font-size: 1.3rem;
}

.logo {
    cursor: pointer;
    color: var(--accent-color-1);
}

.p-logo {
    font-size: 1.8rem;
}

.nav-bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    background-color: var(--primary-color);
    opacity: 0.9;
}

.hamburger {
    position: fixed;
    left: -100%;
}

a {
    text-decoration: none;
    color: var(--accent-color-1);
    font-family: monospace;
}

span,
.handles {
    color: var(--accent-color-2);
}

a:hover {
    color: var(--accent-color-2);
    transition: 190ms ease-in-out;
}

.main-container,
.container-1 {
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.introduction,
.sub-introduction {
    font-size: 1.1rem;
    width: 50%;
}

.image img,
.web-image img{
    height: 50%;
    width: 25vw;
    background-size: contain;
    background-position: center;
    border-radius: 15px;
}

p {
    margin: 15px 15px 15px 0;
    font-size: 2rem;
    font-weight: 600;
    color: var(--complementary-color);
}


header{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.container-1 {
    height: 100vh;

}

.screen-mode-btn {
    font-size: 1.8rem;
    color: #E6E6FA;
    width: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.main-body {
    transition: 200ms ease-in-out;
}

.main-dark-light {
    transition: 200ms ease-in-out;
    background-color: black;
    color: #E6E6FA;
    opacity: 0.8;

}
@media screen and (max-width: 800px) {
    .hamburger {
        position: relative;
        left: 0;
        color: white;
        font-size: 1.8rem;
    }

    .ham-btn {
        transition: 150ms ease-in-out;
    }

    .ham-btn-after {
        transform: rotate(90deg);
        color: var(--accent-color-2);
        transition: 150ms ease-in-out;
    }

    .nav-items {
        position: absolute;
        left: -100%;
    }

    .nav-items-ham {
        background-color: var(--accent-color-2);
        position: absolute;
        top: 10vh;
        width: 100vw;
        text-align: center;
        transition: 190ms ease;
    }

    .explore-items {
        color: var(--primary-color);
        display: block;
    }

    a:hover {
        color: var(--accent-color-1);
        transition: 190ms ease-in-out;
    }
}
